<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pico.css"> 
    <link rel="stylesheet" href="/static/style.css">
    <title>Cripto Wallet - {{ page }} </title>
</head>
<body>
   <header>
        <h1>Cripto Wallet - {{ page }}</h1>
   </header> 
   <main class="container">
        {% block content %}{% endblock %}
   </main>
   <footer>
        <p>&copy; Iv3tt3 2023</p>
   </footer>
</body>
</html>